*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
main{
	width: 960px;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 50px;
}
.contents{
	position: relative;
	height: 310px;
	width: 300px;
	float: left;
	padding: 8px;
	border: solid 1px #C0C0C0;
}
.contents:nth-child(2){
	margin-right: 30px;
	margin-left: 30px;
}
.contents-image{
	height: 160px;
	width: 284px;
}
.step-list{
	position: absolute;
    top: 0;
    left: 0;
    background-color: #FF9900;
    color: #FFF
    font-size: 11px;
}
.text1{
	font-size: 15.5px
}
@media screen and (max-width:768px) {

main{
	width: 100%;
	margin-top: 50px;
}
.contents{
	margin: 0 auto;
	float: none;
	width: 90%;
}
.contents-image{
	width: 90%;
}
.contents:nth-child(2){
	margin-right: none;
	margin-left: none;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}
.contents:nth-child(3){
	margin-bottom: 50px;
}
}